extends layout

block content
  h1= title
  p Welcome to #{title}
  //- button(type="button" onclick='') Click me!
  a(href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_JnzbUNjtrCbacjRPjTkKWvTItYkAbYTA&scope=read_write") Click me
